#profile{
    border-radius: 4px;
    border: 1px solid #4a4a4a;
    background: #4a4a4a32;
}

.title{
    font-size: 25px;
    color: #4a4a4a;
    padding: 20px 0 10px 20px;
}


.personal-text{
    font-size: 15px;
    padding-left: 20px;
    color: #4a4a4a;
    width: 80%;
    padding-bottom: 3px;
}

.bonus-info{
    padding-bottom: 25px;
}

.orders-text{
    font-size: 15   px;
    padding-left: 20px;
    color: #05356f;
    width: 80%;
    text-decoration: underline;
    padding-bottom: 3px;
}

.orders-text:hover{
    color: #064b9e;
    cursor: pointer;
    transition: all .3s ease-out;
}

#feedback {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#feedback h2, #feedback h3 {
    text-align: center;
    color: #333;
}
#commentForm {
    display: flex;
    flex-direction: column;
}
#commentForm input, #commentForm textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#commentForm button {
    background:  #4a4a4a;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#commentForm button:hover {
    background:  #2d2c2c;
    transition: all .3s ease-out;
}
#commentsSection {
    margin-top: 20px;
}
#commentsList {
    list-style: none;
    padding: 0;
}
#commentsList li {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}